
.m-content
    %h1 Novo Sorteio

    .input-wrap
        = form_tag raffles_path, :method => :post do

            = label :raffle, :start, 'Início das Inscrições'
            = text_field :raffle, :start
            %br
            = label :raffle, :finish, 'Fim das Inscrições'
            = text_field :raffle, :finish
            %br

            = submit_tag 'Criar Sorteio'
