.m-content
  %h1 Atualizar Feed de Notícias

  .input-wrap
    = form_tag feed_path(@feed.id), :method => :put do

      = label :feed, :msg, 'Mensagem'
      = text_area :feed, :msg, style: 'max-width: 700px; min-width: 700px'


      %br
      %br

      = submit_tag 'Atualizar Mensagem'
      = link_to 'Cancelar', home_path, class: 'button'
