-if logged_in?
  %div Bem vindo
  .formItem 
    = User.find(session[:user_id]).nome
  = button_to 'Sair', logout_path, method: :delete, class: 'button'
-else
  %div
    Login
    %span.red#flash_warning
      = flash[:warning]
  =form_tag login_path :method => :post do
    .formItem
      = text_field :session, :email, placeholder: '_Usuário / Email', style: 'max-width: 175px'
      = password_field :session, :password, placeholder: '_Senha', style: 'max-width: 175px'
    %div
      = submit_tag 'Entrar', class: 'button'
      = link_to 'Cadastrar-se', new_user_path, class: 'button'
      = link_to 'Recuperar Senha', new_password_reset_path, class: 'button'