.m-content
  %h1 Atualizar Feed de Notícias

  .input-wrap
    = form_tag feed_path(@feed.id), :method => :put do

      = label :feed, :msg, 'Mensagem'
      = text_field :feed, :msg


      %br
      %br

      = submit_tag 'Atualizar Mensagem'
      = link_to 'Cancelar', home_path, class: 'button'
