-# This file is app/view/users/index.html.haml
.m-content
  %h1 Índice de Usuários

  %table#users
    %thead
      %tr
        %th Usuário
        %th Email
        %th Telefone
        %th Número USP
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to "#{user.nome}", user_path(user.id)
          %td= user.email
          %td= user.telefone
          %td= user.documento
