-# This file is app/view/users/index.html.haml
.m-content
  %h1 Índice de inscrições ativas
  -if logged_in?
    = link_to 'Logout', logout_path, method: :delete
  -else
    = link_to 'Login', login_path

  %table#raffles
    %thead
      %tr
        %th Start
        %th Finish
    %tbody
      -if @raffles != nil
        - @raffles.each do |raffle|
          %tr
            %td= link_to "#{raffle.start}", raffle_path(raffle.id)
            %td= raffle.finish
