.m-content
  %h2 Detalhes do Sorteio

  %ul#details
    %li
      Início do período de inscrições:
      = @raffle.start
    %li
      Fim do período de inscrições:
      = @raffle.finish
  %table#users
    %thead
      %tr
        %th Usuário
        %th Email
        %th Telefone
        %th Número USP
    %tbody
      - if @users != nil
        - @users.each do |user|
          %tr
            %td= link_to "#{user.nome}", user_path(user.id)
            %td= user.email
            %td= user.telefone
            %td= user.documento

.user-options
  = link_to 'Editar Sorteio', edit_raffle_path(@raffle), class: 'button'