.m-content
  %h1 Editar Dados

  .input-wrap
    = form_tag user_path(@user.id), :method => :put do

      = label :user, :nome, 'Nome'
      = text_field :user, :nome

      %br

      = label :user, :email, 'Email'
      = text_field :user, :email

      %br

      = label :user, :documento, 'Número USP'
      = text_field :user, :documento

      %br

      = label :user, :telefone, 'Telefone'
      = text_field :user, :telefone

      %br

      = label :user, :password, 'Senha'
      = password_field :user, :password

      %br

      = label :user, :password_confirmation, 'Confirmar nova senha'
      = password_field :user, :password_confirmation

      %br

      -if  is_admin?
        = label :user, :admin, 'Administrador'
        = select :user, :admin, [true, false]

      %br
      %br

      = submit_tag 'Atualizar Dados'
      = link_to 'Cancelar', user_path(params[:id]), class: 'button'
