-# in app/views/users/new.html.haml
.m-content
  %h1 Novo Usuário

  .input-wrap
    = form_tag users_path, :method => :post do
      = label :user, :nome, 'Nome'
      = text_field :user, :nome
      %br
      = label :user, :email, 'Email'
      = text_field :user, :email
      %br
      = label :user, :documento, 'Número USP'
      = text_field :user, :documento
      %br
      = label :user, :telefone, 'Telefone'
      = text_field :user, :telefone
      %br
      = label :user, :password, 'Senha'
      = password_field :user, :password
      %br
      = label :user, :password_confirmation, 'Confirmar senha'
      = password_field :user, :password_confirmation
      %br
      %br
      = submit_tag 'Criar usuário'