-# in app/views/users/new.html.haml
%h1 Novo Usuário

= form_tag users_path, :method => :post do

  = label :user, :nome, 'Nome'
  = text_field :user, :nome

  = label :user, :email, 'Email'
  = text_field :user, :email

  = label :user, :documento, 'Número USP'
  = text_field :user, :documento

  = label :user, :telefone, 'Telefone'
  = text_field :user, :telefone

  = label :user, :password, 'Senha'
  = password_field :user, :password

  = label :user, :password_confirmation, 'Confirmar senha'
  = password_field :user, :password_confirmation

  = label :user, :admin, 'Administrador'
  = select :user, :admin, [true, false]


  = submit_tag 'Criar usuário'