%h2 #{@user.nome}
   
%ul#details
  %li
    Email:
    = @user.email
  %li
    Telefone:
    = @user.telefone
  %li
    Número USP:
    = @user.documento
  %li
    Armário:
    = @user.locker
  -if current_user == @user || is_admin?
    = link_to 'Edit', edit_user_path(@user)
    = button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
    = link_to 'Logout', logout_path, method: :delete
    = link_to 'Voltar aos usuários', users_path
    -if @user.locker == '-'
      = link_to 'Requerir Armário', locker_occupation_path
  -else
    = link_to 'Logout', logout_path, method: :delete
    = link_to 'Voltar aos usuários', users_path
