.m-content
  %h1 Dados do Usuário
  %h2 
    = @user.nome

  %ul#details
    %li
      Email:
      = @user.email
    %li
      Telefone:
      = @user.telefone
    %li
      Número USP:
      = @user.documento
    %li
      Armário:
      = @user.locker

.user-options
  - if current_user == @user || is_admin?
    = link_to 'Editar Dados', edit_user_path(@user), class: 'button'
    = link_to 'Excluir Conta', user_path(@user), :method => :delete, :confirm => 'Você tem certeza?', class: 'button'
    - if @user.locker != '-'
      = link_to 'Abandonar Armário', account_path, :method => :delete, :confirm => 'Você tem certeza?', class: 'button'
    - if is_admin?
      = link_to 'Voltar aos Usuários', users_path, class: 'button'