.m-content
  %h2 
    = @user.nome

  %ul#details
    %li
      Email:
      = @user.email
    %li
      Telefone:
      = @user.telefone
    %li
      Número USP:
      = @user.documento
    %li
      Armário:
      = @user.locker

.user-options
  - if @user.locker != '-'
    = link_to 'Abandonar Armário', account_path, :method => :delete, :confirm => 'Você tem certeza?'