%h2 #{@user.nome}

%ul#details
  %li
    Email:
    = @user.email
  %li
    Telefone:
    = @user.telefone
  %li
    Nusp:
    = @user.documento
  -if current_user == @user
    = link_to 'Edit', edit_user_path(@user)
    = button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
    = link_to 'Logout', logout_path, method: :delete
    = link_to 'Usuários', users_path
  -else
    = link_to 'Logout', logout_path, method: :delete
    = link_to 'Usuários', users_path
