.m-content
  = flash[:notice]
  %h2 #{@user.nome}

  %ul#details
    %li
      Email:
      = @user.email
    %li
      Telefone:
      = @user.telefone
    %li
      Número USP:
      = @user.documento
    %li
      Armário:
      = @user.locker

.user-options
  -if current_user == @user || is_admin?
    = link_to 'Edit', edit_user_path(@user)
    = button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Você tem certeza?'
    -if is_subscribed?
      = button_to 'Abandonar Inscrição', unsubscribe_path
    -else
      = button_to 'Inscrever-me', subscribe_path
    -if is_admin?
      = link_to 'Voltar aos usuários', users_path
      = link_to 'Iniciar período de inscrição', new_raffle_path
      = link_to 'Sorteios ativos', raffles_path
    -if @user.locker == '-'
      = link_to 'Requerir Armário', locker_occupation_path
    -else
      = button_to 'Abandonar Armário', account_path, :method => :delete, :confirm => 'Você tem certeza?'
  -else
    -if is_admin?
      = link_to 'Voltar aos usuários', users_path
