.m-content
  %h1 Mudar Senha

  .input-wrap
    = form_tag password_reset_path(params[:id]), :method => :post do

      =hidden_field_tag :email, @user.email

      = label :user, :password, 'Senha'
      = password_field :user, :password
      %br
      = label :user, :password_confirmation, 'Confirmar senha'
      = password_field :user, :password_confirmation
      %br
      %br
      = submit_tag 'Mudar senha'