<!DOCTYPE html>
%html
  %head
    %title CAMat - Armários
    = stylesheet_link_tag 'style_base'
    = javascript_include_tag 'application'
    = csrf_meta_tags
	
  %body
    #container
      #header
        = image_tag "logo.jpg", id: "logo"
        #title
          %h1 
            = link_to 'CAMat - Armários', home_path
        #login
          = render "sessions/log"
      #background
      #refresher
        = render "shared/content"
      #footer
        © 2015
        %a{ href: 'https://www.facebook.com/profile.php?id=100009757834746', target: '_blank' }
          CAMat
        | Desenvolvido por Boladões